body{
  background-color: rgb(15, 15, 15);
}

a{
  color: rgb(250, 249, 249);
}

#botaoLogin{
  align-content: center;
  background-color:  rgb(87, 11, 131);
  box-align: center;
  object-position: center;
}

.content{
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}


input:invalid {
  color: red;
}

#loginLogo{
  margin-top: 40px;
  margin-bottom: 20px;
}

#newAutomovel{
  margin-top: 30px;
  margin-bottom: 20px;
}


#loginLable{
  font-size: 20px;
  margin-bottom: 15px;
  src: url('https://fonts.googleapis.com/css?family=Oswald');
  color: rgb(14, 13, 13);
}

#input{
  font-size: 14px;
  margin-bottom: 2px;
  color: rgb(7, 7, 7);
}

#input2{
  font-size: 14px;
  margin-bottom: 2px;
  color: rgb(255, 254, 254);
}

#orLable{
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: rgb(245, 243, 243);
}

#loginArea{
  margin-bottom: 10px;
}


#rodapeLogin{
  font-size: 14px;
  background-color: rgb(239, 239, 245);
  margin-top: 150px;
}

#footer1Login{
  background-color: rgb(10, 10, 10);
  color: rgb(248, 244, 244);
  margin-top: 120px;
  font-size: 12px;
}

#footer2Login{
  background-color: rgb(13, 13, 14);
  color: rgb(10, 10, 10);
}

#iconFooter{
  margin-right: 15px;
}

#lineFooter{
  border-color: rgb(6, 7, 7);
}

#sideLogo{
  margin-bottom: 40px;
}


#rodapeHome{
  font-size: 14px;
  margin-top: 264px;
  margin-left: -100px;
  background-color: rgb(8, 8, 8);
  color: rgb(10, 10, 10);
  height: 30px;
}

#titulo h5{
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(13, 13, 14);
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

#loginMainDiv .btn{
  width: 380px;
}